# Default Machine Selection
#
# XZD only runs on zynqmp machines
MACHINE ??= "zcu102-zynqmp"
# MACHINE ??= "ultrazed-zynqmp"

# XZD is derived from Petalinux so default to its policy.
DISTRO ?= "xzd"

# Disable additional language support
IMAGE_LINGUAS = ""

# Build the xzd initramfs
INITRAMFS_IMAGE = "xzd-image-minimal-initramfs"

# Bundle the initramfs with the kernel
INITRAMFS_IMAGE_BUNDLE = "1"

# The initramfs is kind of big
INITRAMFS_MAXSIZE = "524288"

# RPM same as the petalinux default
PACKAGE_CLASSES ?= "package_rpm"

# Yocto default
EXTRA_IMAGE_FEATURES = "debug-tweaks"

# Collect build statistics and reduce shared library file sizes
USER_CLASSES ?= "buildstats image-mklibs"

# Disable interactive patch resolution
PATCHRESOLVE = "noop"

# Shutdown if < 1GiB of Space or 100K inodes in (/tmp, TMPDIR, DL_DIR, SSTATE_DIR)
#
# Abort if < 100 MiB or 1K inodes.
BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"

# Version Tracking
CONF_VERSION = "1"

# Use external tools
XILINX_VER_MAIN = "2017.3"
EXTERNAL_TOOLCHAIN_zynq = "/opt/Xilinx/SDK/2017.3/gnu/aarch32/lin/gcc-arm-linux-gnueabi"
EXTERNAL_TOOLCHAIN_microblaze = "/opt/Xilinx/SDK/2017.3/gnu/microblaze/linux_toolchain/lin64_le"
EXTERNAL_TOOLCHAIN_aarch64 = "/opt/Xilinx/SDK/2017.3/gnu/aarch64/lin/aarch64-linux"
XILINX_SDK_TOOLCHAIN = "/opt/Xilinx/SDK/2017.3"

#add Boot.bin dependency
IMAGE_CLASSES_append_zcu102-zynqmp = " xilinx-bootbin"
IMAGE_CLASSES_append_ultrazed-zynqmp = " xilinx-bootbin"

#specify BIF common attribute for FSBL
BIF_COMMON_ATTR= "fsbl_config"
BIF_COMMON_ATTR[fsbl_config]="a53_x64"

#specify BIF partition attributes required for BOOT.bin
BIF_PARTITION_ATTR= "fsbl pmu atf u-boot bitstream"

#FSBL
BIF_PARTITION_ATTR[fsbl]="bootloader"
BIF_PARTITION_IMAGE[fsbl]="${DEPLOY_DIR_IMAGE}/fsbl-${MACHINE}.elf"
BIF_PARTITION_DEPENDS[fsbl]="virtual/fsbl"

#PMU
BIF_PARTITION_ATTR[pmu]="pmufw_image"
BIF_PARTITION_IMAGE[pmu]="${DEPLOY_DIR_IMAGE}/pmu-${MACHINE}.elf"
BIF_PARTITION_DEPENDS[pmu]="virtual/pmufw"

#ATF
BIF_PARTITION_ATTR[atf]="destination_cpu=a53-0,exception_level=el-3,trustzone"
BIF_PARTITION_IMAGE[atf]="${DEPLOY_DIR_IMAGE}/arm-trusted-firmware.elf"

#U-boot
BIF_PARTITION_ATTR[u-boot]="destination_cpu=a53-0,exception_level=el-2"
BIF_PARTITION_IMAGE[u-boot]="${DEPLOY_DIR_IMAGE}/u-boot-${MACHINE}.elf"

#Bitstream
BIF_PARTITION_ATTR[bitstream] ?= "destination_device=pl"
BIF_PARTITION_IMAGE[bitstream] ?= "${DEPLOY_DIR_IMAGE}/download-${MACHINE}.bit"
BIF_PARTITION_DEPENDS[bitstream] ?= "virtual/bitstream"
